<%- include('header') %>

<div id="main-body">
	<video id="video-player" controls controlsList="nodownload">
		<source id="video-source" src="" type="video/mp4" />
	</video>
	<ul id="snapshots">
		<% snapshots.forEach(snapshot => { %>
			<li>
				<img 
					src="snapshots/<%= snapshot %>"
					alt="<%= snapshot %>"
					title="<%= snapshot %>"
					class="snapshot"
				/>
			</li>
		<% }); %>
	</ul>
</div>

<%- include('footer') %>